@media only screen and (max-width: 1299px) {
  /*=============== LANDING ===============*/
  /*=============== BLOCK-0 ===============*/
  .block-0 .title-field__inner {
    width: 960px;
    padding: 0 15px;
  }
  .block-0 .title-field .main-title__text {
    margin: 14px 0 0;
  }
  .block-0 .title-field .info-title__item-date {
    width: 320px;
  }
  .block-0 .title-field .advantages__item--2 {
    top: 250px;
    right: 0;
  }
  .block-0 .title-field .advantages__item--3 {
    top: 550px;
  }
  .block-0 .title-field .superhero-1 {
    top: 180px;
  }
  /*=============== END BLOCK-0 ===============*/
  /*=============== BLOCK-1 ===============*/
  .block-1 .title {
    padding: 0 60px;
  }
  /*=============== END BLOCK-1 ===============*/
  /*=============== BLOCK-2 ===============*/
  .block-2 {
    padding: 50px 0 20px;
  }
  .block-2 .container {
    max-width: 960px;
  }
  .block-2 .reward-gallery__item {
    width: 350px;
    height: 245px;
  }
  .block-2 .reward-gallery__item--2 {
    top: 60px;
    left: 130px;
  }
  .block-2 .reward-gallery__item--3 {
    top: 120px;
    left: 280px;
  }
  /*=============== END BLOCK-2 ===============*/
  /*=============== BLOCK-3 ===============*/
  .block-3 {
    padding: 20px 0;
  }
  .block-3 .container {
    max-width: 960px;
  }
  .block-3 .gift-gallery__item {
    width: 350px;
    height: 245px;
  }
  .block-3 .gift-gallery__item--1 {
    left: auto;
    right: 280px;
  }
  .block-3 .gift-gallery__item--2 {
    top: 60px;
    left: auto;
    right: 130px;
  }
  .block-3 .gift-gallery__item--3 {
    top: 120px;
    left: auto;
    right: 0;
  }
  /*=============== END BLOCK-3 ===============*/
  /*=============== BLOCK-5 ===============*/
  .block-5 .superhero-2 {
    width: 180px;
    right: 100px;
  }
  .block-5 .title__inner {
    padding: 0 50px;
  }
  .block-5 .slider-box {
    padding: 0 20px;
  }
  .block-5 .slider-box .slider-navigation {
    position: relative;
  }
  .block-5 .slider-box .slider-navigation__arrows .arrow {
    top: 0;
  }
  .block-5 .slider-box .slider-navigation__arrows .arrow--left {
    left: 0;
  }
  .block-5 .slider-box .slider-navigation__arrows .arrow--right {
    right: 0;
  }
  .block-5 .num-big--6 {
    right: -60px;
  }
  .block-5 .num-big--8 {
    top: -40px;
  }
  /*=============== END BLOCK-5 ===============*/
  /*=============== BLOCK-7 ===============*/
  .block-7 .docs__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 400px;
    -ms-flex: 1 1 400px;
    flex: 1 1 400px;
  }
  /*=============== END BLOCK-7 ===============*/
  /*=============== END LANDING ===============*/
  /*=============== REQUESTS ===============*/
  /*=============== BLOCK-0-1 ===============*/
  .block-0-1 .banner__img {
    width: -webkit-calc(100% + (1920px - 100%)/1.6);
    width: calc(100% + (1920px - 100%)/1.6);
    height: auto;
  }
  /*=============== END BLOCK-0-1 ===============*/
  /*=============== BLOCK-REQUESTS ===============*/
  .block-requests {
    padding: 0 0 50px;
  }
  .block-requests__head-filter--1 {
    width: 200px;
    margin-left: 15px;
  }
  .block-requests__head-filter--2 {
    width: 300px;
    margin-left: 15px;
  }
  .block-requests__item-col-1 {
    width: 270px;
    margin-left: 15px;
  }
  .block-requests__item-col-2 {
    width: 320px;
    margin-left: 15px;
  }
  .block-requests__item-participant {
    width: 100px;
  }
  .block-requests__item-editor {
    margin: 35px 0 0;
  }
  .block-requests__item-editor .editor-item--cancel {
    margin-left: 25px;
  }
  /*=============== END BLOCK-REQUESTS ===============*/
  /*=============== END REQUESTS ===============*/
  /*=============== PROFILE ===============*/
  /*=============== END PROFILE ===============*/
}

@media only screen and (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
  /*=============== BLOCK-0 ===============*/
  .block-0 {
    padding: 0 0 160px;
  }
  .block-0 .title-field__inner {
    padding: 0;
    width: auto;
  }
  .block-0 .title-field .main-title {
    text-align: center;
  }
  .block-0 .title-field .main-title__text-2 {
    margin: 0 auto;
  }
  .block-0 .title-field .info-title {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .block-0 .title-field .butn-wrap {
    text-align: center;
  }
  .main-header__menu {
    margin-left: 30px;
  }
  .main-header__menu-item:not(:last-child) {
    margin-right: 30px;
  }
  /*=============== END BLOCK-0 ===============*/
  /*=============== BLOCK-1 ===============*/
  .block-1__inner {
    padding: 30px 0 0;
    margin: -160px 0 0;
  }
  .block-1 .title {
    padding: 0 40px;
  }
  .block-1 .title__text {
    text-align: center;
  }
  .block-1 .tiles .tile {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 200px;
    -ms-flex: 1 1 200px;
    flex: 1 1 200px;
  }
  .block-1 .nums {
    display: none;
  }
  /*=============== END BLOCK-1 ===============*/
  /*=============== BLOCK-2 ===============*/
  .block-2 {
    padding: 30px 0 0;
  }
  .block-2 .reward__inner {
    padding: 0;
  }
  .block-2 .reward__title-text {
    text-align: center;
  }
  .block-2 .reward-gallery {
    height: 310px;
    margin: 20px 0 0;
  }
  .block-2 .reward-gallery__item--2 {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 40;
  }
  .block-2 .reward-gallery__item--3 {
    top: 0;
    left: auto;
    right: 0;
  }
  /*=============== END BLOCK-2 ===============*/
  /*=============== BLOCK-3 ===============*/
  .block-3 .order-top {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .block-3 .gift__inner {
    padding: 0;
  }
  .block-3 .gift__title-text {
    text-align: center;
  }
  .block-3 .gift-gallery {
    height: 310px;
    margin: 20px 0 0;
  }
  .block-3 .gift-gallery__item--1 {
    left: 0;
  }
  .block-3 .gift-gallery__item--2 {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 40;
  }
  .block-3 .gift-gallery__item--3 {
    top: 0;
    left: auto;
    right: 0px;
  }
  /*=============== END BLOCK-3 ===============*/
  /*=============== BLOCK-4 ===============*/
  .block-4 {
    padding: 0 0 160px;
  }
  /*=============== END BLOCK-4 ===============*/
  /*=============== BLOCK-5 ===============*/
  .block-5 .nums {
    display: none;
  }
  .block-5 .superhero-2 {
    right: 0;
  }
  .block-5 .title__inner {
    padding: 0 30px;
  }
  .block-5__inner {
    margin: -160px 0 0;
    padding: 20px 0;
  }
  /*=============== END BLOCK-5 ===============*/
  /*=============== MAIN-FOOTER ===============*/
  .main-footer .butn-wrap {
    padding: 30px 0;
  }
  /*=============== END MAIN-FOOTER ===============*/
  /*=============== REQUESTS ===============*/
  /*=============== BLOCK-0-1 ===============*/
  .block-0-1 {
    display: none;
  }
  /*=============== END BLOCK-0-1 ===============*/
  /*=============== BLOCK-REQUESTS ===============*/
  .block-requests__inner {
    margin: 0 auto;
    border-top: 10px solid #2f0459;
    z-index: 10;
  }
  .block-requests .title__text {
    text-align: center;
  }
  .block-requests__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 0 10px;
  }
  .block-requests__head-left {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .block-requests__head-right {
    padding: 10px 0 0;
  }
  .block-requests__item-head {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .block-requests__item-meta {
    margin: 12px 0 0 50px;
  }
  .block-requests__item-title {
    margin: 20px 0 0;
    text-align: center;
  }
  .block-requests__item-check {
    position: absolute;
    top: 0;
    left: 0;
  }
  .block-requests__item-col-1 {
    width: 100%;
    margin-left: 0;
  }
  .block-requests__item-col-2 {
    width: 100%;
    margin: 15px 0 0;
  }
  .block-requests__item-participant {
    width: 100%;
    margin: 15px 0 0;
    text-align: center;
  }
  .block-requests__item-editor {
    position: absolute;
    top: 12px;
    right: 0;
    margin: 0;
    line-height: 1;
  }
  .block-requests__item-price {
    width: 100%;
    margin: 15px 0 50px;
    text-align: center;
  }
  .block-requests__item-body .participant-list {
    padding: 0;
  }
  .block-requests__item-body .participant-list__inner {
    padding: 10px 10px 20px;
    margin: 0 -20px 0;
  }
  .block-requests__item-body .participant-table td:first-child, .block-requests__item-body .participant-table td:last-child {
    padding: 0;
  }
  .block-requests__item-body .participant-table__photo {
    width: 60px;
  }
  .block-requests__item-body .participant-table__grade {
    width: 80px;
  }
  .block-requests__item-body .participant-table__score {
    width: 80px;
  }
  .block-requests__item-body .participant-table__answer {
    width: 90px;
  }
  .block-requests__item-body .participant-table__reward {
    width: 100px;
  }
  .block-requests__item-body .participant-add {
    margin: 15px 0 0;
  }
  .block-requests__item-body .participant-add__inner .input-name {
    margin: 0;
    width: 300px;
  }
  .block-requests__item-body .participant-materials__title {
    text-align: center;
  }
  .block-requests__item-body .participant-materials__tiles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .block-requests__item-body .participant-materials__tiles .part-tile {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 300px;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    margin: 0 0 20px;
  }
  .block-requests__item-body .participant-materials__tiles .part-tile__icon {
    top: 1px;
  }
  /*=============== END BLOCK-REQUESTS ===============*/
  /*=============== PROFILE ===============*/
  .profile__inner {
    margin: 0 auto;
    border-top: 10px solid #2f0459;
  }
  .profile__banners {
    display: block;
    margin: 40px 0 0;
  }
  .profile__banners-inner {
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .profile__banner:not(:last-child) {
    margin: 0 10px 0 0;
  }
  /*=============== END PROFILE ===============*/
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.25rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  /*=============== BLOCK-0 ===============*/
  .main-header__menu {
    display: none;
  }
  .main-header__right .user__name {
    display: none;
  }
  /*=============== END BLOCK-0 ===============*/
  /*=============== BLOCK-1 ===============*/
  /*=============== END BLOCK-1 ===============*/
  /*=============== BLOCK-2 ===============*/
  .block-2 .reward-gallery {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0 30px;
  }
  .block-2 .reward-gallery__item {
    position: static;
    width: 50%;
    height: auto;
  }
  .block-2 .reward-gallery__item--2 {
    position: absolute;
    top: 30px;
  }
  /*=============== END BLOCK-2 ===============*/
  /*=============== BLOCK-3 ===============*/
  .block-3 .gift-gallery {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 20px 0 30px;
  }
  .block-3 .gift-gallery__item {
    position: static;
    width: 50%;
    height: auto;
  }
  .block-3 .gift-gallery__item--2 {
    position: absolute;
    top: 30px;
  }
  /*=============== END BLOCK-3 ===============*/
  /*=============== BLOCK-4 ===============*/
  /*=============== END BLOCK-4 ===============*/
  /*=============== BLOCK-n ===============*/
  /*=============== END BLOCK-n ===============*/
  /*=============== BLOCK-5 ===============*/
  .block-5 .superhero-2 {
    display: none;
  }
  .block-5 .slider .slide__inner {
    display: block;
  }
  .block-5 .slider .slide__question {
    width: 100%;
  }
  .block-5 .slider .slide__descr {
    width: 100%;
    padding: 0;
    margin: 20px 0 0;
  }
  .block-5 .slider .slide__descr-head {
    text-align: center;
  }
  .block-5 .slider .slide__descr-sec {
    margin: 15px 0 0;
  }
  .block-5 .slider .slide__descr-text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  /*=============== END BLOCK-5 ===============*/
  /*=============== MAIN-FOOTER ===============*/
  .main-footer .organizer {
    margin: 20px 0 0;
  }
  /*=============== END MAIN-FOOTER ===============*/
  /*=============== BLOCK-6 ===============*/
  .block-6 .faq-block__item-descr .text {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
  /*=============== END BLOCK-6 ===============*/
  /*=============== REQUESTS ===============*/
  .block-requests .title__text {
    margin: 0 0 10px;
  }
  .block-requests__head-left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .block-requests__head-check {
    margin: 0 0 10px;
  }
  .block-requests__head-filter--1 {
    margin: 0 0 10px;
    width: 400px;
  }
  .block-requests__head-filter--2 {
    margin: 0;
    width: 400px;
  }
  .block-requests__alert {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .block-requests__alert-col--left {
    margin: 0 0 15px;
  }
  .block-requests__alert-icon {
    display: none;
  }
  .block-requests__alert-descr {
    margin: 0;
  }
  .block-requests__item-editor {
    top: 8px;
  }
  .block-requests__item-editor .editor-item {
    font-size: 0;
  }
  .block-requests__item-editor .editor-item--cancel {
    margin-left: 45px;
  }
  .block-requests__item-editor .editor-item .editor-icon {
    width: 15px;
    height: 15px;
  }
  .block-requests__item-body .participant-table-box {
    padding: 0 0 15px;
    -webkit-overflow-scrolling: touch;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .block-requests__item-body .participant-table {
    width: 670px;
  }
  .block-requests__item-body .participant-table .download-list {
    right: 20px;
  }
  .block-requests__item-body .participant-add__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .block-requests__item-body .participant-add__inner--left {
    margin: 0 0 10px;
  }
  .block-requests__item-body .participant-add__inner .input-name {
    display: block;
    margin: 0 0 10px;
  }
  .block-requests__item-body .participant-add__inner .select-box {
    display: block;
    width: 300px;
    margin: 0;
  }
  /*=============== END REQUESTS ===============*/
  /*=============== PROFILE ===============*/
  .profile .user-info .email-block .input-wrap {
    max-width: 300px;
  }
  /*=============== END PROFILE ===============*/
}

@media only screen and (max-width: 575px) {
  h2 {
    line-height: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  /*=============== BLOCK-0 ===============*/
  .block-0 {
    padding: 0;
  }
  .block-0 .title-field .info-title {
    display: block;
  }
  .block-0 .title-field .info-title__item-date {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .block-0 .title-field .info-title__item-price {
    margin: 20px 0 0;
  }
  .block-0 .title-field .info-title__item-icon {
    text-align: center;
  }
  .block-0 .title-field .info-title__text {
    margin: 5px 0 0;
    text-align: center;
  }
  .block-0 .title-field .info-title__text .text-2 {
    font-size: 1rem;
  }
  /*=============== END BLOCK-0 ===============*/
  /*=============== BLOCK-1 ===============*/
  .block-1 .title {
    padding: 0;
  }
  .block-1__inner {
    margin: 0 -15px;
    padding: 30px 15px 0;
  }
  .block-1 .tiles {
    margin: 20px 0 0;
  }
  .block-1 .tiles .tile {
    max-width: initial;
    margin: 0 10px 30px;
    padding: 80px 0 0;
  }
  /*=============== END BLOCK-1 ===============*/
  /*=============== BLOCK-2 ===============*/
  .block-2 .reward__title-text {
    line-height: 1.5rem;
  }
  /*=============== END BLOCK-2 ===============*/
  /*=============== BLOCK-4 ===============*/
  .block-4 {
    padding: 0;
  }
  /*=============== END BLOCK-4 ===============*/
  /*=============== BLOCK-5 ===============*/
  .block-5__inner {
    margin: 0 -15px;
    padding: 20px 15px;
  }
  .block-5 .title__inner {
    padding: 0;
  }
  .block-5 .slider-box {
    padding: 0;
  }
  /*=============== END BLOCK-5 ===============*/
  /*=============== MAIN-FOOTER ===============*/
  .main-footer .meta-links__link {
    display: block;
    margin: 8px 0 0;
  }
  /*=============== END MAIN-FOOTER ===============*/
  /*=============== REQUESTS ===============*/
  .block-requests .title {
    padding: 0;
  }
  .block-requests__head-filter--1 {
    width: 100%;
    max-width: 400px;
  }
  .block-requests__head-filter--2 {
    width: 100%;
    max-width: 400px;
  }
  .block-requests__alert-descr {
    text-align: center;
  }
  .block-requests__item-meta {
    margin: 4px 0 0 50px;
  }
  .block-requests__item-meta .meta-id {
    display: block;
  }
  .block-requests__item-meta .meta-date {
    display: block;
    margin: 0;
  }
  .block-requests__item-requisites:after {
    width: 30px;
  }
  .block-requests__item-body .participant-add__inner--left {
    width: 100%;
    max-width: 300px;
  }
  .block-requests__item-body .participant-add__inner .input-name {
    max-width: 100%;
  }
  .block-requests__item-body .participant-add__inner .select-box {
    max-width: 100%;
  }
  /*=============== END REQUESTS ===============*/
  /*=============== PROFILE ===============*/
  .profile .user-info .email-block .input-wrap {
    display: block;
    max-width: 100%;
    margin: 0 0 10px;
  }
  .profile .user-info .email-block .butn-wrap {
    display: block;
    margin: 0;
    text-align: right;
  }
  .profile .user-address .butn-wrap {
    text-align: center;
  }
  .profile .input-wrap,
  .profile .select-wrap {
    max-width: 100%;
  }
  .profile__banners-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .profile__banner {
    max-width: 300px;
  }
  .profile__banner:not(:last-child) {
    margin: 0 0 10px;
  }
  /*=============== END PROFILE ===============*/
}
