


//=============== POP-UPs ===============

.overlay#js_overlay

//LOGIN
.popup.popup--login.js_popup#js_login
	.popup__inner
		.popup__head
			h4.popup__head-text Войти в мой профиль
			.popup__close.js_popup_close

		.popup__body
			form.popup__form.form(action="" method="")
				.popup__form-item
					label.label(for="email") Ваш e-mail
					input.input.input--lg(type="text", id="email", placeholder="mymail@mail.com")
				.popup__form-item
					label.label(for="password") Пароль
					.input-wrap
						input.input.input--lg.input--is-error(type="password", id="password", placeholder="• • • • • • • • • • • •")
						+svg("icon-pass", "eye-icon")
						span.validation-error Пользователь не найден

				.popup__form-item
					a.link-blue.fz-spec(href="") Забыли пароль?

				.butn-wrap
					button.butn.butn--md.butn--turq-green Войти
		
		.popup__footer
			.popup__footer-reg
				p.popup__footer-reg-title Впервые у нас?
				a.link-green.js_open_modal(href="#js_register") Зарегистрируйтесь!


//REGISTR
.popup.popup--registr.js_popup#js_register
	.popup__inner
		.popup__head
			h4.popup__head-text Регистрация
			.popup__close.js_popup_close

		.popup__body
			form.popup__form.form(action="" method="")
				.popup__form-item
					label.label(for="email2") Ваш e-mail
					input.input.input--lg(type="text", id="email2", placeholder="mymail@mail.com")
				.popup__form-item
					label.label(for="password2") Пароль
					.input-wrap
						input.input.input--lg(type="password", id="password2", placeholder="• • • • • • • • • • • •")
						+svg("icon-pass", "eye-icon")

				.popup__form-item
					p.fz-spec Нажимая на кнопку «Зарегистрироваться», вы принимаете #[a.link-blue(href="") «Пользовательское соглашение»] и подтверждаете, что ознакомлены с #[a.link-blue(href="") «Политикой конфиденциальности»]

				.butn-wrap
					button.butn.butn--lg.butn--turq-green Зарегистрироваться
		
		.popup__footer
			.popup__footer-reg
				p.popup__footer-reg-title Уже есть данные для входа?
				a.link-green.js_open_modal(href="#js_login") Войти на сайт




//ADD REQUEST MAIL -- 1 
.popup-request.popup-request--1.js_popup#js_popup-request--1
	.icon-x-wrap.js_popup_close
		+svg("icon-close-rnd", "icon-x")
	form.popup__form.form(action="" method="")
		.popup__inner
			.popup__item.popup__item--left

				.popup__form-item
					label.label(for="email3") Укажите свой e-mail или #[a.link-blue(href="") войдите]
					input.input.input--lg(type="text", id="email3", placeholder="mymail@mail.com")

				.popup__form-item.popup__form-item-row
					.popup__form-item-col.popup__form-item-col--left
						label.label(for="quantity1") Количество участников
						.input-wrap
							input.input.input--lg.input--nums(type="text", id="quantity1", value="16")
							.field-arrow.field-arrow--left
								+svg("icon-ar-sm-left", "num-arrow-icon num-arrow-icon--left")
							.field-arrow.field-arrow--right
								+svg("icon-ar-sm-left", "num-arrow-icon num-arrow-icon--right")
					.popup__form-item-col.popup__form-item-col--right
						p.fz-medium Добавьте ещё #[b #[span.num-partic 14] участников] и стоимость одного составит #[b.link-green #[span.num-price 39] рублей]!

			.popup__item.popup__item--right
				table.cost
					thead.cost__head
						tr
							td #[span.cost__title Расчёт стоимости]
					tbody.cost__body
						tr
							td #[span Один участник]
								.question-icon-wrap
									+svg("icon-question", "question-icon")
									
									.hint
										.hint__inner
											.hint__title
												.hint__title-text Стоимость участника
											.hint__table
												table
													tr
														td До 10
														td 49 руб.
													tr
														td 10 - 30
														td 39 руб.
													tr
														td 30 - 100
														td 29 руб.
													tr
														td 100 и более
														td 19 руб.

							td.cost__num 39 руб.
						tr
							td Все участники
							td.cost__num 784 руб.
						tr
							td Компенсация расходов
							td.cost__num.cost__num--green 176 руб.
					tfoot.cost__foot
						tr
							td К оплате организатору
							td.cost__num.cost__num--big 608 руб.
				
				.butn-wrap
					button.butn.butn--lg.butn--turq-green Подать заявку

				.superhero-3
					img.superhero-1__img(src="img/mathman3.png", alt="mathman")



//ADD REQUEST MAIL -- 2
.popup-request.popup-request--2
	.icon-x-wrap
		+svg("icon-close-rnd", "icon-x")
	form.popup__form.form(action="" method="")
		.popup__inner
			.popup__item.popup__item--left

				.popup__form-item.popup__form-item-row
					.popup__form-item-col.popup__form-item-col--left
						label.label(for="quantity2") Количество участников
						.input-wrap
							input.input.input--lg.input--nums(type="text", id="quantity2", value="16")
							.field-arrow.field-arrow--left
								+svg("icon-ar-sm-left", "num-arrow-icon num-arrow-icon--left")
							.field-arrow.field-arrow--right
								+svg("icon-ar-sm-left", "num-arrow-icon num-arrow-icon--right")
					.popup__form-item-col.popup__form-item-col--right
						p.fz-medium Добавьте ещё #[b #[span.num-partic 14] участников] и стоимость одного составит #[b.link-green #[span.num-price 39] рублей]!

				.popup__form-item
					.butn-wrap
						button.butn.butn--lg.butn--turq-green Подать заявку

			.popup__item.popup__item--right
				table.cost
					thead.cost__head
						tr
							td #[span.cost__title Расчёт стоимости]
					tbody.cost__body
						tr
							td #[span Один участник]
								.question-icon-wrap
									+svg("icon-question", "question-icon")

									.hint
										.hint__inner
											.hint__title
												.hint__title-text Стоимость участника
											.hint__table
												table
													tr
														td До 10
														td 49 руб.
													tr
														td 10 - 30
														td 39 руб.
													tr
														td 30 - 100
														td 29 руб.
													tr
														td 100 и более
														td 19 руб.

							td.cost__num 39 руб.
						tr
							td Все участники
							td.cost__num 784 руб.
						tr
							td Компенсация расходов
							td.cost__num.cost__num--green 176 руб.
					tfoot.cost__foot
						tr
							td К оплате организатору
							td.cost__num.cost__num--big 608 руб.


//ADD REQUEST MAIL -- 3 
.popup-request.popup-request--3
	.icon-x-wrap
		+svg("icon-close-rnd", "icon-x")
	form.popup__form.form(action="" method="")
		.popup__inner
			.popup__item.popup__item--left

				.popup__form-item
					label.label(for="email4") Укажите свой e-mail или #[a.link-blue(href="") войдите]
					input.input.input--lg(type="text", id="email4", placeholder="mymail@mail.com")

				.popup__form-item
					label.label(for="select") Мероприятие
					.select-box
						.select-wrap
							select.select.input--lg
								option Международные олимпиады по математике «Мир математики» 1-11 классы
								option Международные олимпиады по математике «Мир математики» 1-11 классы
								option Международные олимпиады по математике «Мир математики» 1-11 классы
						.droplist.droplist--up
							ul
								li.droplist__item Международные олимпиады по математике «Мир математики» 1-11 классы
								li.droplist__item Международные олимпиады по математике «Мир математики» 1-11 классы
								li.droplist__item Международные олимпиады по математике «Мир математики» 1-11 классы

				.popup__form-item.popup__form-item-row
					.popup__form-item-col.popup__form-item-col--left
						label.label(for="quantity3") Количество участников
						.input-wrap
							input.input.input--lg.input--nums(type="text", id="quantity3", value="16")
							.field-arrow.field-arrow--left
								+svg("icon-ar-sm-left", "num-arrow-icon num-arrow-icon--left")
							.field-arrow.field-arrow--right
								+svg("icon-ar-sm-left", "num-arrow-icon num-arrow-icon--right")
					.popup__form-item-col.popup__form-item-col--right
						p.fz-medium Добавьте ещё #[b #[span.num-partic 14] участников] и стоимость одного составит #[b.link-green #[span.num-price 39] рублей]!

			.popup__item.popup__item--right
				table.cost
					thead.cost__head
						tr
							td #[span.cost__title Расчёт стоимости]
					tbody.cost__body
						tr
							td #[span Один участник]
								.question-icon-wrap
									+svg("icon-question", "question-icon")
									
									.hint
										.hint__inner
											.hint__title
												.hint__title-text Стоимость участника
											.hint__table
												table
													tr
														td До 10
														td 49 руб.
													tr
														td 10 - 30
														td 39 руб.
													tr
														td 30 - 100
														td 29 руб.
													tr
														td 100 и более
														td 19 руб.

							td.cost__num 39 руб.
						tr
							td Все участники
							td.cost__num 784 руб.
						tr
							td Компенсация расходов
							td.cost__num.cost__num--green 176 руб.
					tfoot.cost__foot
						tr
							td К оплате организатору
							td.cost__num.cost__num--big 608 руб.
				
				.butn-wrap
					button.butn.butn--lg.butn--turq-green Подать заявку

				.superhero-3
					img.superhero-1__img(src="img/mathman3.png", alt="mathman")




//POPUP REQUEST-EDIT
.popup.popup--request-edit
	.popup__inner
		.popup__head
			h4.popup__head-text Данные заявки #[span №7628507]
			.popup__close.js_popup_close

		.popup__body

			.popup__form-item
				label.label(for="fio-1") ФИО учителя
				input.input.input--lg(type="text", id="fio-1", placeholder="Name Name")

			.popup__form-item
				label.label(for="fio-2") Учреждение образования
				input.input.input--lg(type="text", id="fio-2", placeholder="Всероссийская творческая мастерская эстрадного искусства им. Л. С. Маслюкова")

			.butn-wrap
				button.butn.butn--sm.butn--cancel Отменить
				button.butn.butn--sm.butn--turq-green Войти




//POPUP ORDER
.popup.popup--order
	.popup__inner
		.popup__head
			h4.popup__head-text Заказ #[span №794634452]
			.popup__close.js_popup_close

		.popup__body
			.order-table-wrap
				table.order-table
					thead.order-table__head
						tr
							td.order-table__col.order-table__col-1 Заявка
							td.order-table__col.order-table__col-2 Мероприятие
							td.order-table__col.order-table__col-3 Участники
							td.order-table__col.order-table__col-4 Стоимость
					tbody.order-table__body
						tr
							td.req-id 1687590
							td.req-name Международные олимпиады по математике «Мир математики» 1-11 классы
							td.req-num 10
							td.req-cost 700 руб.
						tr
							td.req-id 1687590
							td.req-name Международные олимпиады по математике «Мир математики» 1-11 классы
							td.req-num 10
							td.req-cost 700 руб.

			.order-table-result
				p.order-table-result__text Итого #[span.num 1138 руб.]

		.popup__footer

			.certificat
				.certificat__inner
					p.certificat__descr У вас есть неиспользованный сертификат #[b на 3-х бесплатных участников]! Доступно 2 из 3 участников.
					p.certificat__use Использовать сертификат


			.butn-wrap
				button.butn.butn--md.butn--turq-blue По квитанции
				button.butn.butn--md.butn--turq-green Оплатить онлайн

















//=============== /POP-UPs ===============