//=============== footer ===============
footer.main-footer
	.container.bg-items-place
		.row
			.col-lg
				.butn-wrap
					button.butn.butn--xl.butn--green.js_open_modal(href="#js_popup-request--1") Принять участие

				.planets
					.planet.planet--6
					.planet.planet--7
				.meteors
					.meteor.meteor--7
					.meteor.meteor--8

	.main-footer__meta
		.container
			.row
				.col-md-3
					.meta-title
						p.meta-title__text.fz-medium &copy; 2017, Мир олимпиад
					.meta-links
						a.meta-links__link.fz-spec(href="#" target="_blank" rel="noopener noreferrer") Обратная связь

				.col-md-9.organizer
					.meta-title
						p.meta-title__text.fz-medium Организатор ООО «КОМПЭДУ», УНН 790867878
					.meta-links
						a.meta-links__link.fz-spec(href="#" target="_blank" rel="noopener noreferrer") Пользовательское соглашение
						a.meta-links__link.fz-spec(href="#" target="_blank" rel="noopener noreferrer") Политика конфиденциальности

//=============== /footer ===============