
h1
	font-size: 2.25rem //36px
	line-height: 3rem //48px

h2
	font-size: 1.5rem //24px
	line-height: 2.25rem //36px

.fz-medium
	// font-size: 0.6875rem //11px
	// line-height: 0.875rem //14px

.fz-spec
	// font-size: 0.6875rem //11px


/*=============== BLOCK-0 ===============*/
.block-0

	.main-header

		&__menu
			display: none

		&__right

			.user

				&__name
					display: none


/*=============== END BLOCK-0 ===============*/





/*=============== BLOCK-1 ===============*/
.block-1


/*=============== END BLOCK-1 ===============*/





/*=============== BLOCK-2 ===============*/
.block-2
	
	.reward-gallery
		height: auto
		display: flex
		justify-content: center
		margin: 20px 0 30px

		&__item
			position: static
			width: 50%
			height: auto

			&--1

			&--2
				position: absolute
				top: 30px

			&--3


/*=============== END BLOCK-2 ===============*/





/*=============== BLOCK-3 ===============*/
.block-3
	
	.gift-gallery
		height: auto
		display: flex
		justify-content: center
		margin: 20px 0 30px

		&__item
			position: static
			width: 50%
			height: auto

			&--1

			&--2
				position: absolute
				top: 30px

			&--3


/*=============== END BLOCK-3 ===============*/





/*=============== BLOCK-4 ===============*/
.block-4


/*=============== END BLOCK-4 ===============*/





/*=============== BLOCK-n ===============*/
.block-n


/*=============== END BLOCK-n ===============*/





/*=============== BLOCK-5 ===============*/
.block-5

	.superhero-2
		display: none

	.slider

		.slide

			&__inner
				display: block

			&__question
				width: 100%

			&__descr
				width: 100%
				padding: 0
				margin: 20px 0 0

				&-head
					text-align: center

				&-sec
					margin: 15px 0 0

				&-text
					font-size: 0.8125rem //13px
					line-height: 1.125rem //18px


/*=============== END BLOCK-5 ===============*/





/*=============== MAIN-FOOTER ===============*/
.main-footer

	.organizer
		margin: 20px 0 0
		


/*=============== END MAIN-FOOTER ===============*/





/*=============== BLOCK-6 ===============*/
.block-6

	.faq-block

		&__item

			&-descr
			
				.text
					font-size: 0.8125rem //13px
					line-height: 1.125rem //18px



/*=============== END BLOCK-6 ===============*/